<%- include('layout/header') %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header">
          <h4>Edit Student (<%= student.name %>)
            <a href="/" class="btn btn-danger float-end">BACK</a>
          </h4>
        </div>
        <div class="card-body">
          <form
            action="/edit/<%= student._id %>"
            method="post"
            ,
            id="add-form"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter name"
                value="<%= student.name  %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="age">Age</label>
              <input
                type="number"
                name="age"
                class="form-control"
                placeholder="Enter age"
                value="<%= student.age  %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter email"
                value="<%= student.email  %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="std_class">Std Class</label>
              <input
                type="text"
                name="std_class"
                class="form-control form-control-lg"
                placeholder="Enter student class"
                value="<%= student.std_class  %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Select image</label>
              <input type="file" name="image" class="form-control" />
              <img
                src="/<%= student.image  %>"
                width="100"
                class="img-thumbnail"
              />
            </div>
            <input
              type="hidden"
              name="old_image"
              value="<%= student.image  %>"
            />
            <div class="mb-3">
              <input
                type="submit"
                name="submit"
                value="Update Student"
                class="btn btn-success btn-lg"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
